.appear {
    opacity: 1;
    /* transition: visible 1s; */
}

.desappear {
    opacity: 0;
    /* transition: hide 1s; */
}

@keyframes visible {
    0% {
        opacity: 0;
    }
    20% { opacity: 1; }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    20% { opacity: 0; }
    100% {
        opacity: 0
    }
}